<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<% @user.shortened_urls.each do |url| %>
<%= url.url %>
<%= short_url(url.url, owner: @user) %>
<br>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
